.info-cards-container{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info-cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px
}

.card1{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color:#fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#info2{
    margin-left: 20px;
    color:#000
}
.info-1{
    background-color: #d21616a2;
}

.info-2{
    background-color: #d21616a2;
}

.info-3{
    background-color: #d21616a2;
}